<div>
  <h2 id="page-heading" data-cy="EspecialistaHeading">
    <span>Especialistas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-especialista"
        [routerLink]="['/especialista/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Especialista </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="especialistas?.length === 0">
    <span>No especialistas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="especialistas && especialistas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nombre</span></th>
          <th scope="col"><span>Apellidos</span></th>
          <th scope="col"><span>Rut</span></th>
          <th scope="col"><span>Fecha Nacimiento</span></th>
          <th scope="col"><span>Registro Medico</span></th>
          <th scope="col"><span>Especialidad</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let especialista of especialistas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/especialista', especialista.id, 'view']">{{ especialista.id }}</a>
          </td>
          <td>{{ especialista.nombre }}</td>
          <td>{{ especialista.apellidos }}</td>
          <td>{{ especialista.rut }}</td>
          <td>{{ especialista.fechaNacimiento | formatMediumDate }}</td>
          <td>{{ especialista.registroMedico }}</td>
          <td>{{ especialista.especialidad }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/especialista', especialista.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/especialista', especialista.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(especialista)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
